header {
    background-color: white;
    position: sticky;
    top: 0;
}
h1 {
    font-size: 100px;
    font-style: italic;
    text-align: center;
}
#menu {
    display: flex;
}
ul {
    justify-content: center;
}
#menu i {
    color: blue;
    margin: 5px;
}
#menu a {
    text-decoration: none;
    color: blue;
    font-size: 30px;
}
li {
    list-style: none;
    margin: 10px;
}
.blog {
    border-bottom: 5px solid orangered;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#head {
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 10%;
}
.head {
    float: right;
    justify-content: end;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    margin-left: 45%;
    justify-content: center;
}
#imagen_blog img {
    width: 75%;
    align-content: center;
    margin-left: 13%;
}
footer i:hover {
    opacity: 75%;
}

#menu li:hover {
    font-size: 40px;
}
.container {
    max-width: 800px;
    margin: auto;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
}
.table {
    width: 100%;
    margin-top: 20px;
}
.table th,
.table td {
    padding: 10px;
    text-align: left;
}
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-danger {
    background-color: #dc3545;
}
main {
    background-image: url(https://photoshop-kopona.com/uploads/posts/2018-02/1519827942_5.jpg);
}